In [1]:
import pandas as pd
from sklearn.metrics import classification_report
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import confusion_matrix, accuracy_score
import seaborn as sns
import matplotlib.pyplot as plt
from textblob import TextBlob
import altair as alt
import json

In [3]:
df = pd.read_json("../data/raw_hotelreviews.json")

In [3]:
df.head(n=5)

,Unnamed: 0,ID,hotel,name,time,rating,site,trip type,room rating,location rating,service rating,text,hotel reply,reply date,timestamp
0,0,0,Ace Hotel Brooklyn,Shayna Petit,3 months ago,5/5,Google,Solo,5.0,5.0,5.0,"This hotel is truly amazing, from the building...","Hello Shayna, Firstly, thank you very much fo...",2 months ago,2022-04-08 17:26:45.147944
1,1,1,Ace Hotel Brooklyn,Ollie B,2 months ago,5/5,Google,Couple,5.0,5.0,5.0,The staff was terrific!. Geneva and Sergio wer...,"Hello Ollie, If this review did not just make...",2 months ago,2022-04-08 17:26:45.147944
2,2,2,Ace Hotel Brooklyn,Jazmyne G,2 months ago,5/5,Google,Vacation · Couple,5.0,5.0,5.0,Amazing stay for our first evening in Brooklyn...,"Hello Jazmyne, I hope that life is treating y...",2 months ago,2022-04-08 17:26:45.147944
3,3,3,Ace Hotel Brooklyn,Florivette Rosario,4 months ago,5/5,Google,None,NaN,NaN,NaN,"What an amazing place! Clean, quiet rooms and ...",Hello Florivette! Thank you very much for you...,4 months ago,2022-04-08 17:26:45.147944
4,4,4,Ace Hotel Brooklyn,Jillian Rubin,4 months ago,5/5,Google,Couple,4.0,4.0,5.0,Huge thank you to Darren at the front desk who...,Hello Jillian! Wow-weeeeee: If this note did ...,4 months ago,2022-04-08 17:26:45.147944

In [4]:
examples = [_ for _ in df['text'] ]

In [6]:
# Filter out records where the "text" column is missing
df_filtered = df.dropna(subset=['text'])

# Skip rows with empty 'text' after dropping NaN values
df_filtered = df_filtered[df_filtered['text'].str.strip() != '']

# Export to .jsonl file
with open('data/output.jsonl', 'w') as outfile:
    for _, row in df_filtered.iterrows():
        json.dump({'text': row['text']}, outfile)
        outfile.write('\n')